.list-post{
    border:1px solid gray;
    padding: 30px;

    
}
.listpost-wrapper{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin-right: 10px;
    margin: auto;
    flex-wrap: wrap;

}